[submodule "base/freebsd-src"]
	branch = stable/15
	path = base/freebsd-src
	url = https://github.com/freebsd/freebsd-src
[submodule "userland/dui"]
	path = userland/dui
	url = https://github.com/steveriemannx/dui.git
	branch = dev-polluxos
